html, body {
  background-color: #000 !important;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
}

.table-container {
  margin-top: 2rem;
}

.table-dark {
  background-color: #ffffff;
}

.table th {
  color: #000000;
  font-size: 0.875rem;
  border-right: none;
}

.table td {
  color: #000000;
  font-size: 0.875rem;
  border-right: 1px solid #ccc;
}

.thead-custom {
  background-color: #273880;
}

.table thead th {
  background-color: #273880;
  color: #fff;
  border-right: none;
}

.table tbody tr {
  border-bottom: 1px solid #ccc;
}

.table tbody tr:last-child {
  border-bottom: none;
}

.table td:last-child {
  border-right: none;
}

.card {
  background-color: #ffffff;
  color: #000;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #273880;
  color: #fff;
  font-weight: bold;
}

.card-body {
  color: #000;
}

.d-flex {
  display: flex;
}

.flex-fill {
  flex: 1 1 auto;
}

