<div class="container mt-4" *ngIf="datos">
  <div class="row d-flex">
    <!-- Tarjeta de datos nacionales -->
    <div class="col-lg-6 d-flex">
      <div class="card mb-4 flex-fill">
        <div class="card-header">
          Nacional
        </div>
        <div class="card-body">
          <table class="table table-light table-striped">
            <thead class="thead-custom">
            <tr>
              <th>Nombre</th>
              <th>Fecha</th>
              <th>Valor</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{ datos.uf.nombre }}</td>
              <td>{{ datos.uf.fecha | date:'dd/MM/yyyy' }}</td>
              <td>{{ datos.uf.valor | currency:'USD':'symbol':'1.2-2' }}</td>
            </tr>
            <tr>
              <td>{{ datos.ivp.nombre }}</td>
              <td>{{ datos.ivp.fecha | date:'dd/MM/yyyy' }}</td>
              <td>{{ datos.ivp.valor | currency:'USD':'symbol':'1.2-2' }}</td>
            </tr>
            <tr>
              <td>{{ datos.ipc.nombre }}</td>
              <td>{{ datos.ipc.fecha | date:'dd/MM/yyyy' }}</td>
              <td>{{ datos.ipc.valor | number:'1.2-2' }}%</td>
            </tr>
            <tr>
              <td>{{ datos.utm.nombre }}</td>
              <td>{{ datos.utm.fecha | date:'dd/MM/yyyy' }}</td>
              <td>{{ datos.utm.valor | currency:'USD':'symbol':'1.2-2' }}</td>
            </tr>
            <tr>
              <td>{{ datos.imacec.nombre }}</td>
              <td>{{ datos.imacec.fecha | date:'dd/MM/yyyy' }}</td>
              <td>{{ datos.imacec.valor | number:'1.2-2' }}%</td>
            </tr>
            <tr>
              <td>{{ datos.tpm.nombre }}</td>
              <td>{{ datos.tpm.fecha | date:'dd/MM/yyyy' }}</td>
              <td>{{ datos.tpm.valor | number:'1.2-2' }}%</td>
            </tr>
            <tr>
              <td>{{ datos.libra_cobre.nombre }}</td>
              <td>{{ datos.libra_cobre.fecha | date:'dd/MM/yyyy' }}</td>
              <td>{{ datos.libra_cobre.valor | currency:'USD':'symbol':'1.2-2' }}</td>
            </tr>
            <tr>
              <td>{{ datos.tasa_desempleo.nombre }}</td>
              <td>{{ datos.tasa_desempleo.fecha | date:'dd/MM/yyyy' }}</td>
              <td>{{ datos.tasa_desempleo.valor | number:'1.2-2' }}%</td>
            </tr>
            <tr>
              <td>{{ datos.bitcoin.nombre }}</td>
              <td>{{ datos.bitcoin.fecha | date:'dd/MM/yyyy' }}</td>
              <td>{{ datos.bitcoin.valor | currency:'USD':'symbol':'1.2-2' }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Tarjeta de datos internacionales -->
    <div class="col-lg-6 d-flex">
      <div class="card mb-4 flex-fill">
        <div class="card-header">
          Internacional
        </div>
        <div class="card-body">
          <table class="table table-light table-striped">
            <thead class="thead-custom">
            <tr>
              <th>Nombre</th>
              <th>Fecha</th>
              <th>Valor</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{ datos.dolar.nombre }}</td>
              <td>{{ datos.dolar.fecha | date:'dd/MM/yyyy' }}</td>
              <td>{{ datos.dolar.valor | currency:'USD':'symbol':'1.2-2' }}</td>
            </tr>
            <tr>
              <td>{{ datos.dolar_intercambio.nombre }}</td>
              <td>{{ datos.dolar_intercambio.fecha | date:'dd/MM/yyyy' }}</td>
              <td>{{ datos.dolar_intercambio.valor | currency:'USD':'symbol':'1.2-2' }}</td>
            </tr>
            <tr>
              <td>{{ datos.euro.nombre }}</td>
              <td>{{ datos.euro.fecha | date:'dd/MM/yyyy' }}</td>
              <td>{{ datos.euro.valor | currency:'EUR':'symbol':'1.2-2' }}</td>
            </tr>
            </tbody>
          </table>
          <div class="card-body">
            <app-pie-chart></app-pie-chart>
            <div class="card-body">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
